/* START header */
.header-area{
    widows: 100vw;
    height: 100vh;
    background: url('/images/background/bg-home.png')  no-repeat center center;
    background-size: cover;
}

.logo-text, .nav-item{
    font-weight: 700;
    padding-left: 20px;
    color: #2D132C;
}
.navbar-brand{
    padding-left: 50px;
}


/* END header */
