html{
    height: 100%;
    overflow: hidden;
}
body {
    color: #1C4A54;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Myanmar Text';
}