div(class="header-area") 
    .main-menu
        nav(class="navbar navbar-expand-lg navbar-light")
            a(class="navbar-brand" href="#") 
                img(src="/images/logo/logo-small.png") 
                span(class="logo-text") ÁLEFE CRUZ
            button(class="navbar-toggler" type="button" 
            data-toggle="collapse" data-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup" aria-expanded="false" 
            aria-label="Alterna navegação") 
                span(class="navbar-toggler-icon") 
            div(class="collapse navbar-collapse" id="navbatNav")
                div(class="mr-auto")
                ul(class="navbar-nav") 
                    li(class="nav-item active") 
                        a(class="nav-link" href="#") HOME 
                            span(class="sr-only")
                    li(class="nav-item") 
                        a(class="nav-link" href="#") ABOUT
                    li(class="nav-item") 
                        a(class="nav-link" href="#") PROJECTS
                    li(class="nav-item") 
                        a(class="nav-link" href="#") ARTS
                    li(class="nav-item") 
                        a(class="nav-link" href="#") CONTACT