title Port- Alefe Cruz
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/index.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src="/angular/angular.min.js")