extends layout

block content
    main
        div(id="home")
        div(id="about")
        div(id="projects")
        div(id="contact")
            form(role="form" action="/send-email" method="post")
                br(style = "clear:both")
                div
                    input(type="text" id="name" name="name"  placeholder="Nome ou Apelido")
                div
                    input(type="text" id="subject" name="subject"   placeholder="Titulo")
                div
                    textarea( id="message" name="message" placeholder="Mensagem" cols="30" rows="10")
                div
                    button(type="submit" id="submit" name="submit") Send